.div-container{
    width: 60%;
    background-color: aqua;
    margin: 0 auto;
}
img{
    width: 100%;
    height: auto;
}
@media(max-width: 600px){

.div-container{
    width: 80%;
    background-color: grey;
}
body{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: blue;
    gap: 10px;
}
.flex-item{
   background-color: grey;
   padding: 20xp;
   flex: 1;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'menu main right'
    'footer footer footer'
    ;
    grid-gap: 10px;
    padding: 10px;
    background-color: lightgrey;
}
.grid-item1{grid-area: header;background-color: aqua;}
.grid-item2{grid-area: menu;background-color: blue;}
.grid-item3{grid-area: main;background-color: yellowgreen;}
.grid-item5{grid-area: right;background-color: green;}
.grid-item5{grid-area: footer;background-color: brown;}